## Import library

In [1]:
#Import library
import pandas as pd
import seaborn as sns
import numpy as np
pd.options.display.max_columns = None
pd.set_option('mode.use_inf_as_na', True)

## Import DataFrame

In [2]:
population = pd.read_csv("../Data/fr_population.csv")
animaux = pd.read_csv("../Data/fr_animaux.csv")
sousalime = pd.read_csv("../Data/fr_sousalimentation.csv")
vegetaux = pd.read_csv("../Data/fr_vegetaux.csv")

## Homogenization of population and sub-population data

In [3]:
print(population.shape)
population.head()

(175, 14)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

### Data Exploration

In [4]:
population["Code année"].value_counts()

2013    175
Name: Code année, dtype: int64

In [5]:
population["Description du Symbole"].value_counts()

Donnée officielle                                                                         174
Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées      1
Name: Description du Symbole, dtype: int64

In [6]:
population[population["Description du Symbole"]!="Donnée officielle"].head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [7]:
population[population['Zone'].str.contains('Chine')].head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [8]:
print(sousalime.shape)
sousalime.head()

(1020, 15)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

In [9]:
sousalime["Valeur"].value_counts()

<0.1    115
0.3      41
0.2      34
0.5      20
0.4      20
       ...
39.3      1
16.4      1
3.7       1
15.2      1
38.1      1
Name: Valeur, Length: 146, dtype: int64

In [10]:
#Read information from the 'Value' column that is not numeric (Object)
sousalime.describe()
sousalime['Valeur'].dtypes

dtype('O')

In [11]:
sousalime["Année"].value_counts()

2013-2015    204
2016-2018    204
2015-2017    204
2014-2016    204
2012-2014    204
Name: Année, dtype: int64

## Data cleaning and Merge - Population & Sub-food data

In [12]:
# Rename column
sousalime.columns = ["xx","xx2","country_code","country",'xx3','element','item_code','item','xx4','year',"unit",'value','flag','flag_desc', 'note']
population.columns = ["xx","xx2","country_code","country",'xx3','element','item_code','item','xx4',"year","unit",'value','flag','flag_desc']


# Select columns 
population = population[['country_code', 'country',
                         'element', 'item_code','item',
                         'year', 'unit', 'value', 'flag', 'flag_desc']]

sousalime = sousalime[['country_code', 'country', 'element',
                       'item_code','item',"year",
                       'unit', 'value','flag','flag_desc', 'note']]

In [13]:
# Rename 'year' column to match the population data for the merge
sousalime['year'] = sousalime['year'].replace(['2010-2012', '2011-2013','2012-2014', 
                                               '2013-2015', '2014-2016', 
                                               '2015-2017','2016-2018'],
                                                [2011,2012,
                                                 2013,2014,
                                                 2015,2016,
                                                 2017])

In [14]:
# Merge pop and sous alim data for the left external join
pop_and_sousal = pd.merge(population,sousalime,
                          on=["country_code","year"],
                          how="left")

#Select column
pop_and_sousal = pop_and_sousal[['country_code', 'country_x', 'year', 'value_x'   , 'value_y' ]]

#Rename column
pop_and_sousal.columns = ['country_code', 'country' , 'year', 'pop_value', 'pop_sousalim']


#Replace <0.1 for the sous-alim data by 0.1
pop_and_sousal['pop_sousalim'] = np.where(pop_and_sousal['pop_sousalim'] == '<0.1', 0, pop_and_sousal['pop_sousalim'])

#Put column in numeric 
pop_and_sousal['pop_sousalim'] = pd.to_numeric(pop_and_sousal['pop_sousalim'])

#Convert 'pop_value' column
pop_and_sousal["pop_value"] = pop_and_sousal["pop_value"] * 1000
pop_and_sousal["pop_sousalim"] = (pop_and_sousal["pop_sousalim"]) * 1000000

# Calculate the percentage of undernourished people
pop_and_sousal["pop_sousalim_prct"] = (pop_and_sousal["pop_sousalim"] / pop_and_sousal["pop_value"]) * 100

print(pop_and_sousal.shape)
pop_and_sousal.head()

(175, 6)

,country_code,country,year,pop_value,pop_sousalim,pop_sousalim_prct
0,2,Afghanistan,2013,30552000,7900000.0,25.857554
1,202,Afrique du Sud,2013,52776000,2600000.0,4.926482
2,3,Albanie,2013,3173000,200000.0,6.303183
3,4,Algérie,2013,39208000,1700000.0,4.335850
4,79,Allemagne,2013,82727000,NaN,NaN

## Data cleaning, manupilation - Veg and Animal data

In [17]:
# Add 'origin' variable to dataframe
animaux["origin"] = "animal"
vegetaux["origin"] = "vegetal"

#Concatenate the 2 dataframe animaux and végétaux
ani_veg_concat = pd.concat([animaux,
                            vegetaux], axis=0)

# Delete animaux et vegetaux dataframe for memory saving
del animaux, vegetaux

#Rename columns
ani_veg_concat.columns = ['xx', 'xx2', 'country_code', 'country', 'xx3','element',
                          'item_code','item','xx4',"year",'unit','value','xx5','xx6','origin'] 

ani_veg_concat.head()

,xx,xx2,country_code,country,xx3,element,item_code,item,xx4,year,unit,value,xx5,xx6,origin
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées,animal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées,animal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,animal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,animal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée,animal

In [18]:
#See unique value
ani_veg_concat.xx4.value_counts()

2013    142037
Name: xx4, dtype: int64

In [19]:
# pivot table to have  'pays', 'année' and 'origin' in index
ani_veg_pivot=pd.pivot_table(ani_veg_concat,
                             index=['country_code','country','item_code','item','year', 'origin'],
                             values='value',
                             columns='element')



#Rename column and reset index
ani_veg_pivot.columns =['Feed','Other uses','Food supply (kcal/capita/day)', 
                                 'Food supply quantity (kg/capita/yr)', 'Fat supply quantity (g/capita/day)',
                                 'Protein supply quantity (g/capita/day)', 'Domestic supply quantity','Export Quantity', 
                                 'Import Quantity', 'Food','Waste', 'Production',
                                 'Seed', 'Processing','Stock Variation']

# Reset index
ani_veg_pivot = ani_veg_pivot.reset_index()
ani_veg_pivot.head()

,country_code,country,item_code,item,year,origin,Feed,Other uses,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Fat supply quantity (g/capita/day),Protein supply quantity (g/capita/day),Domestic supply quantity,Export Quantity,Import Quantity,Food,Waste,Production,Seed,Processing,Stock Variation
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

## Merge population dataframe with ani_veg_pivot

In [20]:
# Add population dataframe to the pivot dataframe by merging 
pop_ani_veg_join = pd.merge(ani_veg_pivot,
                            population, on=["country_code","year"])

In [21]:
#Select columns
pop_ani_veg_join = pop_ani_veg_join[['country_code', 'country_x', 'item_code_x', 'item_x', 'year', 'origin',
             'Domestic supply quantity', 'Export Quantity', 'Feed', 'Food',
             'Food supply (kcal/capita/day)', 'Food supply quantity (kg/capita/yr)',
             'Import Quantity', 'Other uses', 'Processing', 'Production',
             'Protein supply quantity (g/capita/day)', 'Seed', 'Stock Variation',
             'Waste', 'value']]

#rename columns
pop_ani_veg_join = pop_ani_veg_join.rename({'country_x': 'country', 'item_code_x':'item_code', 'item_x':'item', 'value':'pop_value'}, axis=1)

#Convert column
pop_ani_veg_join["pop_value"] = pop_ani_veg_join["pop_value"] * 1000

# Fill na values with 0
pop_ani_veg_join = pop_ani_veg_join.fillna(0)

# Data pour analyse sample
pop_ani_veg_join.head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000
1,1,Arménie,2513,Orge,2013,vegetal,198.0,0.0,137.0,0.0,0.0,0.00,9.0,26.0,7.0,189.0,0.00,14.0,0.0,15.0,2977000
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,0.0,1.0,0.0,1.0,0.12,0.0,0.0,0.0,1.0,0.02,0.0,0.0,0.0,2977000
4,1,Arménie,2516,Avoine,2013,vegetal,6.0,0.0,4.0,1.0,2.0,0.37,1.0,0.0,0.0,5.0,0.09,0.0,0.0,0.0,2977000

In [22]:
pop_and_sousal.head()

,country_code,country,year,pop_value,pop_sousalim,pop_sousalim_prct
0,2,Afghanistan,2013,30552000,7900000.0,25.857554
1,202,Afrique du Sud,2013,52776000,2600000.0,4.926482
2,3,Albanie,2013,3173000,200000.0,6.303183
3,4,Algérie,2013,39208000,1700000.0,4.335850
4,79,Allemagne,2013,82727000,NaN,NaN

### 1- Calculate the global population in 2013

In [23]:
# The global population in 2013
Total_pop_2013 = pop_and_sousal['pop_value'].sum()
print("Population mondiale en 2013:", Total_pop_2013)

Population mondiale en 2013: 8413993000

In [24]:
#Data verification - Incoherent output - Remove China data (96, 128, 41 and 214 line)- data is aggregated in 351 (seen above)
pop_ani_veg_join = pop_ani_veg_join[~pop_ani_veg_join['country_code'].isin([96, 128, 41, 214])]
pop_and_sousal = pop_and_sousal[~pop_and_sousal['country_code'].isin([96, 128, 41, 214])]

# New global population in 2013
Total_pop_2013 = pop_and_sousal["pop_value"].sum()
print("Population mondiale en 2013:", Total_pop_2013)

Population mondiale en 2013: 6997326000

In [36]:
#Under-nourished population in 2013
Total_sous_nutr = pop_and_sousal['pop_sousalim'].sum()
print("Population en ss nutrition en 2013:", Total_sous_nutr, "Millions")

#Percentage Under-nourished population in 2013
prct_ss_nutr2013 = (Total_sous_nutr / Total_pop_2013 )*100
print("Soit:", prct_ss_nutr2013)

Population en ss nutrition en 2013: 743800000.0 Millions
Soit: 10.629774859710697

In [38]:
#Data visualisation
pop_and_sousal.sort_values('pop_sousalim_prct', ascending=False).head(20)

,country_code,country,year,pop_value,pop_sousalim,pop_sousalim_prct
71,93,Haïti,2013,10317000,5200000.0,50.402249
173,251,Zambie,2013,14539000,7000000.0,48.146365
174,181,Zimbabwe,2013,14150000,6600000.0,46.643110
132,37,République centrafricaine,2013,4616000,2000000.0,43.327556
137,116,République populaire démocratique de Corée,2013,24895000,10600000.0,42.578831
40,46,Congo,2013,4448000,1800000.0,40.467626
158,39,Tchad,2013,12825000,4900000.0,38.206628
5,7,Angola,2013,21472000,8100000.0,37.723547
94,123,Libéria,2013,4294000,1600000.0,37.261295
98,129,Madagascar,2013,22925000,8200000.0,35.768811
121,226,Ouganda,2013,37579000,12600000.0,33.529365
138,215,République-Unie de Tanzanie,2013,49253000,16400000.0,33.297464
141,184,Rwanda,2013,11777000,3600000.0,30.568056
112,147,Namibie,2013,2303000,700000.0,30.395137
172,249,Yémen,2013,24407000,7200000.0,29.499734
110,144,Mozambique,2013,25834000,7000000.0,27.096075
78,103,Iraq,2013,33765000,9100000.0,26.950985
56,238,Éthiopie,2013,94101000,25300000.0,26.886005
161,176,Timor-Leste,2013,1133000,300000.0,26.478376
149,197,Sierra Leone,2013,6092000,1600000.0,26.263953

### 2- Make a 3 terms equation

In [25]:
#Disponibilité intérieure = Production-Importations+Exportations+Variation de stock = 
#Semences+Pertes+Nourriture(Disponibilité alimentaire)+Aliments pour animaux+Traitement+Autres utilisations

In [26]:
pop_ani_veg_join["tmp1"] = pop_ani_veg_join['Production'] + pop_ani_veg_join['Import Quantity'] - pop_ani_veg_join['Export Quantity'] + pop_ani_veg_join['Stock Variation']
pop_ani_veg_join["tmp2"] = pop_ani_veg_join['Domestic supply quantity']
pop_ani_veg_join["tmp3"] = pop_ani_veg_join['Feed'] + pop_ani_veg_join['Food'] + pop_ani_veg_join['Other uses'] + pop_ani_veg_join['Processing'] + pop_ani_veg_join['Seed'] + pop_ani_veg_join['Waste']
print((pop_ani_veg_join['tmp1'] - pop_ani_veg_join['tmp2']).sort_values())
print((pop_ani_veg_join['tmp2'] - pop_ani_veg_join['tmp3']).sort_values())

6540    -2.0
5867    -2.0
3652    -1.0
4837    -1.0
6953    -1.0
        ...
13565    1.0
9691     1.0
5994     1.0
13659    1.0
7803     1.0
Length: 15325, dtype: float64
14293   -3796.0
13391    -468.0
12103    -414.0
1970     -282.0
14287    -268.0
          ...
12935      13.0
14244      17.0
9463       18.0
14300      23.0
15535     762.0
Length: 15325, dtype: float64

In [27]:
del pop_ani_veg_join["tmp1"]
del pop_ani_veg_join["tmp2"]
del pop_ani_veg_join["tmp3"]

### 3 - Calculate (for each country and each product) the food supply in kcal and then in kg of protein.

In [28]:
#Food availability in kcals 
pop_ani_veg_join["food_supply_kcal"] = pop_ani_veg_join["Food supply (kcal/capita/day)"] * 365 * pop_ani_veg_join["pop_value"]

#Food availability in proteins 
pop_ani_veg_join["protein_supply_kg"] = pop_ani_veg_join["Protein supply quantity (g/capita/day)"] * 365 * pop_ani_veg_join["pop_value"] * 0.001

print(pop_ani_veg_join.shape)
pop_ani_veg_join.head(5)

(15325, 23)

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.60
1,1,Arménie,2513,Orge,2013,vegetal,198.0,0.0,137.0,0.0,0.0,0.00,9.0,26.0,7.0,189.0,0.00,14.0,0.0,15.0,2977000,0.000000e+00,0.00
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000,0.000000e+00,10866.05
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,0.0,1.0,0.0,1.0,0.12,0.0,0.0,0.0,1.0,0.02,0.0,0.0,0.0,2977000,1.086605e+09,21732.10
4,1,Arménie,2516,Avoine,2013,vegetal,6.0,0.0,4.0,1.0,2.0,0.37,1.0,0.0,0.0,5.0,0.09,0.0,0.0,0.0,2977000,2.173210e+09,97794.45

### 4 - From this last information, and from the weight of the food availability (for each country and each product), calculate for each product the "energy/weight" ratio, which you will give in kcal/kg.

In [29]:
#Calculates for each product the "energy/weight" ratio, in kcal/kg: energy = food availability in kcal / Food

#Convert 'Food' column in kg 
pop_ani_veg_join['food_kg'] = pop_ani_veg_join["Food"]*1000000

# Ignore nul values from 'food_kg' column
mask = pop_ani_veg_join["food_kg"] != 0

pop_ani_veg_join.loc[mask, "ratio_energie_poids"] = ((pop_ani_veg_join.loc[mask,"food_supply_kcal"] / pop_ani_veg_join.loc[mask,'food_kg'])).round(2)

#Protein percentage calculation for each product (for each country) = (protein weight/total weight)*100
pop_ani_veg_join.loc[mask, "Prct_proteine"] = ((pop_ani_veg_join.loc[mask,"protein_supply_kg"]
                                                /pop_ani_veg_join.loc[mask,'food_kg']*100)).round(2)


pop_ani_veg_join.head(100)

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.60,389000000.0,2860.37,8.53
1,1,Arménie,2513,Orge,2013,vegetal,198.0,0.0,137.0,0.0,0.0,0.00,9.0,26.0,7.0,189.0,0.00,14.0,0.0,15.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000,0.000000e+00,10866.05,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,0.0,1.0,0.0,1.0,0.12,0.0,0.0,0.0,1.0,0.02,0.0,0.0,0.0,2977000,1.086605e+09,21732.10,0.0,NaN,NaN
4,1,Arménie,2516,Avoine,2013,vegetal,6.0,0.0,4.0,1.0,2.0,0.37,1.0,0.0,0.0,5.0,0.09,0.0,0.0,0.0,2977000,2.173210e+09,97794.45,1000000.0,2173.21,9.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,Afghanistan,2531,Pommes de Terre,2013,vegetal,262.0,41.0,0.0,230.0,15.0,7.53,0.0,0.0,0.0,303.0,0.25,23.0,0.0,9.0,30552000,1.672722e+11,2787870.00,230000000.0,727.27,1.21
96,2,Afghanistan,2536,"Sucre, canne",2013,vegetal,90.0,0.0,81.0,0.0,0.0,0.00,0.0,0.0,9.0,90.0,0.00,0.0,0.0,0.0,30552000,0.000000e+00,0.00,0.0,NaN,NaN
97,2,Afghanistan,2537,"Sucre, betterave",2013,vegetal,15.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,15.0,15.0,0.00,0.0,0.0,0.0,30552000,0.000000e+00,0.00,0.0,NaN,NaN
98,2,Afghanistan,2542,Sucre Eq Brut,2013,vegetal,255.0,0.0,0.0,255.0,84.0,8.35,271.0,0.0,0.0,2.0,0.00,0.0,-19.0,0.0,30552000,9.367243e+11,0.00,255000000.0,3673.43,0.00
99,2,Afghanistan,2543,Edulcorants Autres,2013,vegetal,16.0,0.0,0.0,16.0,2.0,0.53,16.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,30552000,2.230296e+10,0.00,16000000.0,1393.94,0.00

In [30]:
# Ex: caloric value of an egg.
pop_ani_veg_join[pop_ani_veg_join["item"]=="Oeufs"].head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine
74,1,Arménie,2744,Oeufs,2013,animal,35.0,0.0,0.0,35.0,45.0,11.69,1.0,0.0,0.0,34.0,3.43,0.0,0.0,0.0,2977000,4.889722e+10,3727055.15,35000000.0,1397.06,10.65
144,2,Afghanistan,2744,Oeufs,2013,animal,47.0,0.0,0.0,40.0,5.0,1.30,29.0,0.0,0.0,18.0,0.38,2.0,0.0,5.0,30552000,5.575740e+10,4237562.40,40000000.0,1393.94,10.59
226,3,Albanie,2744,Oeufs,2013,animal,47.0,1.0,0.0,40.0,46.0,12.45,0.0,0.0,0.0,48.0,3.65,0.0,0.0,7.0,3173000,5.327467e+10,4227229.25,40000000.0,1331.87,10.57
319,4,Algérie,2744,Oeufs,2013,animal,348.0,0.0,0.0,316.0,27.0,8.06,0.0,0.0,0.0,347.0,2.30,21.0,0.0,10.0,39208000,3.863948e+11,32915116.00,316000000.0,1222.77,10.42
400,7,Angola,2744,Oeufs,2013,animal,29.0,0.0,0.0,24.0,4.0,1.11,24.0,0.0,0.0,5.0,0.33,3.0,0.0,2.0,21472000,3.134912e+10,2586302.40,24000000.0,1306.21,10.78

In [31]:
#See information about Avoine
pop_ani_veg_join[pop_ani_veg_join["item"]=="Avoine"].head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine
4,1,Arménie,2516,Avoine,2013,vegetal,6.0,0.0,4.0,1.0,2.0,0.37,1.0,0.0,0.0,5.0,0.09,0.0,0.0,0.0,2977000,2.173210e+09,97794.45,1000000.0,2173.21,9.78
154,3,Albanie,2516,Avoine,2013,vegetal,28.0,0.0,25.0,0.0,1.0,0.13,1.0,0.0,0.0,27.0,0.03,1.0,0.0,1.0,3173000,1.158145e+09,34744.35,0.0,NaN,NaN
246,4,Algérie,2516,Avoine,2013,vegetal,122.0,0.0,107.0,0.0,0.0,0.01,8.0,0.0,0.0,113.0,0.00,8.0,0.0,6.0,39208000,0.000000e+00,0.00,0.0,NaN,NaN
338,7,Angola,2516,Avoine,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.01,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,21472000,0.000000e+00,0.00,0.0,NaN,NaN
419,8,Antigua-et-Barbuda,2516,Avoine,2013,vegetal,0.0,0.0,0.0,0.0,15.0,2.67,0.0,0.0,0.0,0.0,0.64,0.0,0.0,0.0,90000,4.927500e+08,21024.00,0.0,NaN,NaN

### 5 - List 5 of the 20 highest calorie foods

In [32]:
#Use the ratio énergie/poids and make a group by and an average of the ratio
#Result in calorie, ignore nul values
alim_cal = pop_ani_veg_join.groupby('item')['ratio_energie_poids'].mean().round(3)

#Result in proteine,ignore nul values
alim_prot = pop_ani_veg_join.groupby('item')['Prct_proteine'].mean().round(3)

#Create a new common data frame in cal and prot
alim_cal_prot_df = pd.DataFrame({'Prct_proteine':alim_prot, 'ratio_energie_poids':alim_cal})

In [33]:
#Sort the richest product in protein protein by ascending
alim_cal_prot_df.sort_values('Prct_proteine', ascending=False).head(20)

                          Prct_proteine  ratio_energie_poids
item
Soja                             28.516             2359.183
Arachides Decortiquees           25.157             5622.381
Pois                             22.322             3444.041
Légumineuses Autres              21.864             3347.672
Haricots                         21.653             3396.950
Sésame                           17.612             5491.907
Abats Comestible                 17.559             1130.423
Viande, Autre                    17.463             1122.542
Plantes Oleiferes, Autre         15.728             3093.397
Aliments pour enfants            14.658             3196.496
Viande de Bovins                 14.374             1685.445
Viande d'Ovins/Caprins           13.585             1947.892
Cephalopodes                     13.353              488.881
Viande de Volailles              12.626             1299.812
Piments                          11.983             3079.026
Poissons Pelagiques              11.874              859.317
Poissons Marins, Autres          10.922              627.482
Graines de tournesol             10.777             2648.042
Épices, Autres                   10.748             3258.087
Oeufs                            10.547             1343.440

In [34]:
#Sort the richest product in calories by ascending caloriques
alim_cal_prot_df.sort_values('ratio_energie_poids', ascending=False).head(20)

                          Prct_proteine  ratio_energie_poids
item
Huiles de Poissons                0.000             9003.717
Huile de Palmistes                0.070             8797.864
Huile de Palme                    0.137             8719.498
Huile de Germe de Maïs            0.019             8683.086
Huile de Son de Riz               0.053             8658.062
Huil Plantes Oleif Autr           0.545             8645.450
Huile Graines de Coton            0.062             8606.459
Huile de Soja                     0.061             8583.013
Huile de Colza&Moutarde           0.103             8492.322
Huile de Tournesol                0.043             8400.621
Huile d'Olive                     0.000             8385.934
Huile d'Arachide                  0.013             8360.673
Huile de Coco                     0.132             8302.647
Huile de Sésame                   0.000             7684.501
Graisses Animales Crue            1.223             7603.649
Beurre, Ghee                      0.709             7346.551
Arachides Decortiquees           25.157             5622.381
Sésame                           17.612             5491.907
Huiles de Foie de Poisso          0.000             4991.465
Palmistes                         0.000             4331.090

### 6- Calculate the worldwide domestic availability expressed in kcal for the vegetable product only

In [35]:
pop_ani_veg_join.head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.60,389000000.0,2860.37,8.53
1,1,Arménie,2513,Orge,2013,vegetal,198.0,0.0,137.0,0.0,0.0,0.00,9.0,26.0,7.0,189.0,0.00,14.0,0.0,15.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000,0.000000e+00,10866.05,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,0.0,1.0,0.0,1.0,0.12,0.0,0.0,0.0,1.0,0.02,0.0,0.0,0.0,2977000,1.086605e+09,21732.10,0.0,NaN,NaN
4,1,Arménie,2516,Avoine,2013,vegetal,6.0,0.0,4.0,1.0,2.0,0.37,1.0,0.0,0.0,5.0,0.09,0.0,0.0,0.0,2977000,2.173210e+09,97794.45,1000000.0,2173.21,9.78

In [36]:
# Merge data to have the same country values by items. 
datacopie = pd.merge(pop_ani_veg_join, alim_cal_prot_df, on="item")

datacopie = datacopie.rename({'ratio_energie_poids_y': 'ratio_kcal/kg', 'Prct_proteine_y':'protein_prct'}, axis=1)

datacopie.head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.6,3.890000e+08,2860.37,8.53,8.195,2847.523
1,2,Afghanistan,2511,Blé,2013,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523
2,3,Albanie,2511,Blé,2013,vegetal,650.0,4.0,18.0,440.0,1056.0,138.64,360.0,130.0,0.0,294.0,33.64,18.0,0.0,44.0,3173000,1.223001e+12,38959997.8,4.400000e+08,2779.55,8.85,8.195,2847.523
3,4,Algérie,2511,Blé,2013,vegetal,9461.0,2.0,545.0,7270.0,1424.0,185.42,6343.0,820.0,0.0,3299.0,42.97,153.0,-180.0,672.0,39208000,2.037875e+13,614940232.4,7.270000e+09,2803.13,8.46,8.195,2847.523
4,7,Angola,2511,Blé,2013,vegetal,898.0,0.0,0.0,874.0,286.0,40.72,972.0,0.0,0.0,4.0,8.67,0.0,-79.0,23.0,21472000,2.241462e+12,67949217.6,8.740000e+08,2564.60,7.77,8.195,2847.523

In [37]:
pop_ani_veg_join_v2 = datacopie.copy()

# Ajout de la disponibilité intérieure en kcal
pop_ani_veg_join_v2["dom_sup_kcal"] = pop_ani_veg_join_v2["Domestic supply quantity"] * 1000000 * pop_ani_veg_join_v2["ratio_kcal/kg"]
pop_ani_veg_join_v2["dom_sup_kgprot"] = pop_ani_veg_join_v2["Domestic supply quantity"] * 1000000 * pop_ani_veg_join_v2["protein_prct"] * .01

# Select veg products 
vegetal = pop_ani_veg_join_v2[pop_ani_veg_join_v2["origin"] == "vegetal"]

# Calculculate 'dispo. int.'' per year
gb = vegetal.groupby("year")
dom_sup_kcal = gb["dom_sup_kcal"].sum()
dom_sup_kgprot = gb["dom_sup_kgprot"].sum()
dom_sup = pd.DataFrame({"dom_sup_kcal": dom_sup_kcal, "dom_sup_kgprot": dom_sup_kgprot})
dom_sup

      dom_sup_kcal  dom_sup_kgprot
year
2013  1.307838e+16    3.252700e+11

### 7-  How many people could be nourished if the plant wordwide products availability were used for food?

In [38]:
#result in calories
#hypothesis: a human needs an average of 2500 kcal per day 
KCAL_PERS_JR = 2500

#Result in terne of proteine
# Average weight of a human: 62kg (https://en.wikipedia.org/wiki/Human_body_weight)
# Average protein requirement for a human: 0.9 g/kg/day
PROT_PERS_JR = 0.9 * 62 * 0.001 

print("Besoin en protein journalier:", PROT_PERS_JR, "kg")

Besoin en protein journalier: 0.0558 kg

In [39]:
#Nbre of people fed in terme of calorific
nbre_hum_nourris_cal = dom_sup.loc[:,"dom_sup_kcal"] / KCAL_PERS_JR / 365

print("Population potentiellement nourrie par la disponibilité intérieure en produits issus de végétaux (en termes calorifiques)", round(nbre_hum_nourris_cal/1000000000, 2), "Milliards")

#Prct of people fed in terme cal
print("Soit en pourcentage", round((nbre_hum_nourris_cal/ Total_pop_2013)*100))

Population potentiellement nourrie par la disponibilité intérieure en produits issus de végétaux (en termes calorifiques) year
2013    14.33
Name: dom_sup_kcal, dtype: float64 Milliards
Soit en pourcentage year
2013    205.0
Name: dom_sup_kcal, dtype: float64

In [40]:
#Nbre of people fed in terme of proteine
nbre_hum_nourris_prot = dom_sup_kgprot/ PROT_PERS_JR / 365
print("Population potentiellement nourrie par la disponibilité intérieure en produits issus de végétaux (en termes de protéines):", round(nbre_hum_nourris_prot/1000000000, 2))

#Prct of people fed in terme of prot
print("Soit en pourcentage", nbre_hum_nourris_prot/Total_pop_2013*100)

Population potentiellement nourrie par la disponibilité intérieure en produits issus de végétaux (en termes de protéines): year
2013    15.97
Name: dom_sup_kgprot, dtype: float64
Soit en pourcentage year
2013    228.236381
Name: dom_sup_kgprot, dtype: float64

### 8 - How many humans could be fed if all the available food in plant products, plant feed for animals and losses of plant products were used for food?

In [41]:
pop_ani_veg_join_v2.head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.6,3.890000e+08,2860.37,8.53,8.195,2847.523,1.577528e+12,45400300.0
1,2,Afghanistan,2511,Blé,2013,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523,1.706236e+13,491044400.0
2,3,Albanie,2511,Blé,2013,vegetal,650.0,4.0,18.0,440.0,1056.0,138.64,360.0,130.0,0.0,294.0,33.64,18.0,0.0,44.0,3173000,1.223001e+12,38959997.8,4.400000e+08,2779.55,8.85,8.195,2847.523,1.850890e+12,53267500.0
3,4,Algérie,2511,Blé,2013,vegetal,9461.0,2.0,545.0,7270.0,1424.0,185.42,6343.0,820.0,0.0,3299.0,42.97,153.0,-180.0,672.0,39208000,2.037875e+13,614940232.4,7.270000e+09,2803.13,8.46,8.195,2847.523,2.694042e+13,775328950.0
4,7,Angola,2511,Blé,2013,vegetal,898.0,0.0,0.0,874.0,286.0,40.72,972.0,0.0,0.0,4.0,8.67,0.0,-79.0,23.0,21472000,2.241462e+12,67949217.6,8.740000e+08,2564.60,7.77,8.195,2847.523,2.557076e+12,73591100.0

In [42]:
YEAR = 2013

pop_ani_veg_join_v2["food_feed_kcal"] = pop_ani_veg_join_v2[["Food","Waste","Feed"]].sum(axis=1) * 1000000 * pop_ani_veg_join_v2["ratio_kcal/kg"]
pop_ani_veg_join_v2["food_feed_kgprot"] = pop_ani_veg_join_v2[["Food","Waste","Feed"]].sum(axis=1) * 1000000 * pop_ani_veg_join_v2["protein_prct"] * .01

# Select plant products 
vegetal = pop_ani_veg_join_v2[pop_ani_veg_join_v2["origin"] == "vegetal"]

# Calculate: dispo. alim., animal feed and waste per year
q_kcal = vegetal.groupby("year")["food_feed_kcal"].sum()
q_kgprot = vegetal.groupby("year")["food_feed_kgprot"].sum()
quantity = pd.DataFrame({"kcal": q_kcal, "kgprot": q_kgprot})

population_kcal = quantity.loc[YEAR,"kcal"] / 365 / KCAL_PERS_JR

print("Population potentiellement nourrie par la disponibilité alimentaire, la nouriture animale et les pertes de produits végétaux, (en termes calorifiques) en milliards :", round(population_kcal/1000000000,2)) 
print("Soit en pourcentage de la population mondiale :", round(100*population_kcal/Total_pop_2013))
print("--")
population_prot = quantity.loc[YEAR, "kgprot"] / 365 / PROT_PERS_JR
print("Population potentiellement nourrie par la disponibilité alimentaire, la nouriture animale et les pertes de produits végétaux, (en termes calorifiques) en milliards :", round(population_prot/1000000000,2)) 
print("Soit en pourcentage de la population mondiale :", round(100*population_prot/Total_pop_2013))

Population potentiellement nourrie par la disponibilité alimentaire, la nouriture animale et les pertes de produits végétaux, (en termes calorifiques) en milliards : 10.18
Soit en pourcentage de la population mondiale : 145.0
--
Population potentiellement nourrie par la disponibilité alimentaire, la nouriture animale et les pertes de produits végétaux, (en termes calorifiques) en milliards : 10.3
Soit en pourcentage de la population mondiale : 147.0

### 9- How many human could be fed with the worldwide food availability?

In [43]:
pop_ani_veg_join_v2.head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot,food_feed_kcal,food_feed_kgprot
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.6,3.890000e+08,2860.37,8.53,8.195,2847.523,1.577528e+12,45400300.0,1.463627e+12,42122300.0
1,2,Afghanistan,2511,Blé,2013,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523,1.706236e+13,491044400.0,1.614546e+13,464656500.0
2,3,Albanie,2511,Blé,2013,vegetal,650.0,4.0,18.0,440.0,1056.0,138.64,360.0,130.0,0.0,294.0,33.64,18.0,0.0,44.0,3173000,1.223001e+12,38959997.8,4.400000e+08,2779.55,8.85,8.195,2847.523,1.850890e+12,53267500.0,1.429457e+12,41138900.0
3,4,Algérie,2511,Blé,2013,vegetal,9461.0,2.0,545.0,7270.0,1424.0,185.42,6343.0,820.0,0.0,3299.0,42.97,153.0,-180.0,672.0,39208000,2.037875e+13,614940232.4,7.270000e+09,2803.13,8.46,8.195,2847.523,2.694042e+13,775328950.0,2.416693e+13,695509650.0
4,7,Angola,2511,Blé,2013,vegetal,898.0,0.0,0.0,874.0,286.0,40.72,972.0,0.0,0.0,4.0,8.67,0.0,-79.0,23.0,21472000,2.241462e+12,67949217.6,8.740000e+08,2564.60,7.77,8.195,2847.523,2.557076e+12,73591100.0,2.554228e+12,73509150.0

In [44]:
# Total of people fed with the worldwide food availability in cal

dispo_alim_mond_cal = pop_ani_veg_join["food_supply_kcal"].sum()
print("Dispo alimentaire en cal:", dispo_alim_mond_cal)

#Result in calorie
KCAL_PERS_JR = 2500

nbre_hum_nourris_cal_dispo_alim_mond = (dispo_alim_mond_cal) / (KCAL_PERS_JR * 365)
print("Nbre humain nourit en cal(en Milliards):", round(nbre_hum_nourris_cal_dispo_alim_mond))

#Prct in cal
print("Pourcentage:", round((nbre_hum_nourris_cal_dispo_alim_mond/Total_pop_2013*100)))

Dispo alimentaire en cal: 7364437353675000.0
Nbre humain nourit en cal(en Milliards): 8070616278.0
Pourcentage: 115.0

In [45]:
#Numbers of humans that could be fed with the global food availability in protein
dispo_ali_mond_prot = pop_ani_veg_join['protein_supply_kg'].sum()
print("Dispo alimentaire en prot:", dispo_ali_mond_prot)

#Result in calories 
PROT_PERS_JR = (0.8*70)/1000

nbre_hum_nourris_prot_dispo_alim_mond = (dispo_ali_mond_prot) / (PROT_PERS_JR * 365) 
print("Nbre humain nourit en prot(en Milliards):", round(nbre_hum_nourris_prot_dispo_alim_mond))

#Prct of humans fed with worldwide protein availability
print("Pourcentage:",round((nbre_hum_nourris_prot_dispo_alim_mond/Total_pop_2013*100)))

Dispo alimentaire en prot: 207249144517.35
Nbre humain nourit en prot(en Milliards): 10139390632.0
Pourcentage: 145.0

### 10- What is the percentage of the world population considered to be undernourished?

In [46]:
#Worldwide population considered to be under nutrition 
Total_pop_sous_nutr = pop_and_sousal.loc[pop_and_sousal['year']== 2013,"pop_sousalim"].sum()

print("population en sous nutrition:", Total_pop_sous_nutr)
print("Pourcentage", round(Total_pop_sous_nutr / Total_pop_2013*100))

population en sous nutrition: 743800000.0
Pourcentage 11.0

### 11- Taking only food grains (human and animal) into account, what percentage (in terms of weight) is destined for animal feed?

In [47]:
cere = pd.read_csv("../Data/fr_céréales.csv")

In [48]:
# List of cereals
cere = cere[["Produit","Code Produit"]].drop_duplicates(subset=['Produit'])
cere

             Produit  Code Produit
0                Blé          2511
1   Riz (Eq Blanchi)          2805
2               Orge          2513
3               Maïs          2514
4             Millet          2517
9             Seigle          2515
10            Avoine          2516
12            Sorgho          2518
13  Céréales, Autres          2520

In [49]:
# Identify if product are cereals
pop_ani_veg_join_v2['is_cereal'] = np.where(pop_ani_veg_join_v2['item'].isin(cere['Produit'].unique()), 1, 0)
pop_ani_veg_join_v2.head()

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot,food_feed_kcal,food_feed_kgprot,is_cereal
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.6,3.890000e+08,2860.37,8.53,8.195,2847.523,1.577528e+12,45400300.0,1.463627e+12,42122300.0,1
1,2,Afghanistan,2511,Blé,2013,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523,1.706236e+13,491044400.0,1.614546e+13,464656500.0,1
2,3,Albanie,2511,Blé,2013,vegetal,650.0,4.0,18.0,440.0,1056.0,138.64,360.0,130.0,0.0,294.0,33.64,18.0,0.0,44.0,3173000,1.223001e+12,38959997.8,4.400000e+08,2779.55,8.85,8.195,2847.523,1.850890e+12,53267500.0,1.429457e+12,41138900.0,1
3,4,Algérie,2511,Blé,2013,vegetal,9461.0,2.0,545.0,7270.0,1424.0,185.42,6343.0,820.0,0.0,3299.0,42.97,153.0,-180.0,672.0,39208000,2.037875e+13,614940232.4,7.270000e+09,2803.13,8.46,8.195,2847.523,2.694042e+13,775328950.0,2.416693e+13,695509650.0,1
4,7,Angola,2511,Blé,2013,vegetal,898.0,0.0,0.0,874.0,286.0,40.72,972.0,0.0,0.0,4.0,8.67,0.0,-79.0,23.0,21472000,2.241462e+12,67949217.6,8.740000e+08,2564.60,7.77,8.195,2847.523,2.557076e+12,73591100.0,2.554228e+12,73509150.0,1

In [50]:
#Create cereale dateframe
data_iscere = pop_ani_veg_join_v2[pop_ani_veg_join_v2["is_cereal"]== 1]

# Add column - Sum of food and feed 
data_iscere["food_feed_sum"] = data_iscere["Feed"] + data_iscere["Food"]


#Percentage for the animal nutrition
feed_prop = data_iscere["Feed"].sum() / data_iscere["food_feed_sum"].sum()

print("Feed proportion", round(feed_prop*100,2))

Feed proportion 45.91

/Users/Mounia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

### Question 12

In [51]:
#Select from the Food Balance Sheet data the countries in which 
#the FAO counts undernourished people.
#Create a new df from sub-food by filtering on 4 columns 

sousal = pop_and_sousal[(~pop_and_sousal["pop_sousalim_prct"].isnull()) & (pop_and_sousal.year == 2013)]
print(sousal.shape)
sousal.head()

(117, 6)

,country_code,country,year,pop_value,pop_sousalim,pop_sousalim_prct
0,2,Afghanistan,2013,30552000,7900000.0,25.857554
1,202,Afrique du Sud,2013,52776000,2600000.0,4.926482
2,3,Albanie,2013,3173000,200000.0,6.303183
3,4,Algérie,2013,39208000,1700000.0,4.335850
5,7,Angola,2013,21472000,8100000.0,37.723547

In [52]:
#Left join 'sous alimentation' data and et 'data'
sousal_country = pd.merge(sousal,pop_ani_veg_join_v2, how="left", on=['country','country_code', 'year'])
print(sousal_country.shape)
sousal_country.head()

(10352, 36)

,country_code,country,year,pop_value_x,pop_sousalim,pop_sousalim_prct,item_code,item,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value_y,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot,food_feed_kcal,food_feed_kgprot,is_cereal
0,2,Afghanistan,2013,30552000,7900000.0,25.857554,2511,Blé,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523,1.706236e+13,491044400.0,1.614546e+13,464656500.0,1
1,2,Afghanistan,2013,30552000,7900000.0,25.857554,2513,Orge,vegetal,524.0,0.0,360.0,89.0,26.0,2.92,10.0,0.0,0.0,514.0,0.79,22.0,0.0,52.0,30552000,2.899385e+11,8809669.2,8.900000e+07,3257.74,9.90,6.449,2270.435,1.189708e+12,33792760.0,1.137488e+12,32309490.0,1
2,2,Afghanistan,2013,30552000,7900000.0,25.857554,2514,Maïs,vegetal,313.0,0.0,200.0,76.0,21.0,2.50,1.0,0.0,0.0,312.0,0.56,5.0,0.0,31.0,30552000,2.341811e+11,6244828.8,7.600000e+07,3081.33,8.22,7.255,3012.589,9.429404e+11,22708150.0,9.248648e+11,22272850.0,1
3,2,Afghanistan,2013,30552000,7900000.0,25.857554,2517,Millet,vegetal,13.0,0.0,0.0,12.0,3.0,0.40,0.0,0.0,0.0,13.0,0.08,0.0,0.0,1.0,30552000,3.345444e+10,892118.4,1.200000e+07,2787.87,7.43,7.743,3057.022,3.974129e+10,1006590.0,3.974129e+10,1006590.0,1
4,2,Afghanistan,2013,30552000,7900000.0,25.857554,2520,"Céréales, Autres",vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,30552000,0.000000e+00,0.0,0.000000e+00,NaN,NaN,7.552,2586.729,0.000000e+00,0.0,0.000000e+00,0.0,1

In [53]:
#Find the 15 most exported products by this group of countries.
#Calculate the sum of each product, reset the indexes and order 
exp_product = pd.DataFrame(sousal_country.groupby('item')['Domestic supply quantity', 'Export Quantity',
       'Feed', 'Food', 'Import Quantity', 'Other uses',
       'Processing', 'Production', 
       'Seed', 'Stock Variation', 'Waste', 'food_supply_kcal'].sum()).reset_index()
top_15 = exp_product[['item','Export Quantity']].sort_values('Export Quantity', ascending=False).head(15)

In [54]:
top_15

                   item  Export Quantity
39       Huile de Palme          46336.0
52                 Maïs          37906.0
51               Manioc          35931.0
79     Riz (Eq Blanchi)          33104.0
83        Sucre Eq Brut          26160.0
12                  Blé          25417.0
49      Légumes, Autres          20167.0
8               Bananes          18005.0
25       Fruits, Autres          15389.0
48   Lait - Excl Beurre          15060.0
81                 Soja          14410.0
73  Poissons Pelagiques          14185.0
89              Tomates           8938.0
75               Pommes           7958.0
61  Oranges, Mandarines           7185.0

In [55]:
# List top 15
list_top15 = top_15.item

In [56]:
list_top15

39         Huile de Palme
52                   Maïs
51                 Manioc
79       Riz (Eq Blanchi)
83          Sucre Eq Brut
12                    Blé
49        Légumes, Autres
8                 Bananes
25         Fruits, Autres
48     Lait - Excl Beurre
81                   Soja
73    Poissons Pelagiques
89                Tomates
75                 Pommes
61    Oranges, Mandarines
Name: item, dtype: object

In [57]:
#From the global food balance sheet data, 
#Select the 200 largest imports of these products (1 import = one quantity of a given product imported by a given country)
top_200 = pop_ani_veg_join_v2[pop_ani_veg_join_v2['item'].isin(list_top15) & (pop_ani_veg_join_v2.year == 2013)]
top_200.sort_values('Import Quantity', ascending=False).head(200)

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot,food_feed_kcal,food_feed_kgprot,is_cereal
3066,351,Chine,2555,Soja,2013,vegetal,77564.0,277.0,9530.0,5489.0,36.0,3.87,65564.0,1.0,61222.0,11951.0,3.41,713.0,326.0,610.0,1416667000,1.861500e+13,1.763255e+09,5.489000e+09,3391.33,32.12,28.516,2359.183,1.829877e+14,2.211815e+10,3.687167e+13,4.456766e+09,0
1633,351,Chine,2532,Manioc,2013,vegetal,34925.0,203.0,22873.0,2657.0,6.0,1.88,30466.0,9257.0,0.0,4600.0,0.05,0.0,63.0,138.0,1416667000,3.102501e+12,2.585417e+07,2.657000e+09,1167.67,0.97,0.651,877.510,3.064704e+13,2.273618e+08,2.252393e+13,1.670987e+08,0
416,110,Japon,2514,Maïs,2013,vegetal,14661.0,1.0,10964.0,1171.0,61.0,9.21,14403.0,288.0,2235.0,0.0,0.16,0.0,259.0,3.0,127144000,2.830861e+12,7.425210e+06,1.171000e+09,2417.47,0.63,7.255,3012.589,4.416757e+13,1.063656e+09,3.656681e+13,8.806119e+08,1
40,59,Égypte,2511,Blé,2013,vegetal,19341.0,191.0,4860.0,12048.0,1175.0,146.83,10331.0,0.0,0.0,9460.0,35.62,217.0,-260.0,2224.0,82056000,3.519177e+13,1.066835e+09,1.204800e+10,2920.96,8.85,8.195,2847.523,5.507394e+13,1.584995e+09,5.447881e+13,1.567867e+09,1
14496,351,Chine,2848,Lait - Excl Beurre,2013,animal,50117.0,233.0,1632.0,47009.0,59.0,33.18,9780.0,42.0,0.0,40570.0,3.12,0.0,0.0,1433.0,1416667000,3.050792e+13,1.613300e+09,4.700900e+10,648.98,3.43,3.359,586.733,2.940530e+13,1.683430e+09,2.938007e+13,1.681986e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,173,Pologne,2511,Blé,2013,vegetal,8533.0,2249.0,2600.0,4159.0,877.0,108.83,1037.0,650.0,24.0,9485.0,27.68,600.0,260.0,500.0,38217000,1.223345e+13,3.861140e+08,4.159000e+09,2941.44,9.28,8.195,2847.523,2.429791e+13,6.992794e+08,2.067017e+13,5.948750e+08,1
363,33,Canada,2514,Maïs,2013,vegetal,13283.0,1945.0,10723.0,667.0,113.0,18.95,1035.0,249.0,1176.0,14194.0,2.46,16.0,0.0,452.0,35182000,1.451082e+12,3.158992e+07,6.670000e+08,2175.53,4.74,7.255,3012.589,4.001622e+13,9.636816e+08,3.567508e+13,8.591371e+08,1
14341,21,Brésil,2848,Lait - Excl Beurre,2013,animal,33542.0,143.0,1898.0,29910.0,252.0,149.28,1032.0,100.0,0.0,32653.0,13.16,0.0,0.0,1634.0,200362000,1.842930e+13,9.624188e+08,2.991000e+10,616.16,3.22,3.359,586.733,1.968020e+13,1.126676e+09,1.962152e+13,1.123317e+09,0
8,11,Autriche,2511,Blé,2013,vegetal,1320.0,962.0,467.0,689.0,645.0,81.10,1031.0,58.0,11.0,1598.0,20.97,55.0,-347.0,40.0,8495000,1.999935e+12,6.502115e+07,6.890000e+08,2902.66,9.44,8.195,2847.523,3.758730e+12,1.081740e+08,3.405638e+12,9.801220e+07,1
27,40,Chili,2511,Blé,2013,vegetal,2097.0,209.0,145.0,1845.0,830.0,104.74,1022.0,2.0,0.0,1475.0,22.55,41.0,-191.0,64.0,17620000,5.337979e+12,1.450258e+08,1.845000e+09,2893.21,7.86,8.195,2847.523,5.971256e+12,1.718492e+08,5.848812e+12,1.683253e+08,1

In [58]:
top_200.shape

(2537, 33)

In [59]:
#Group these imports by product, to have a table containing 1 row for each of the 15 products.

word_imp_product = pd.DataFrame(top_200.groupby('item')['Import Quantity'].sum()).reset_index()
print(word_imp_product.shape)
word_imp_product.head(15)

(15, 2)

                   item  Import Quantity
0               Bananes          19423.0
1                   Blé         185376.0
2        Fruits, Autres          31964.0
3        Huile de Palme          48858.0
4    Lait - Excl Beurre         116806.0
5       Légumes, Autres          43333.0
6                Manioc          38371.0
7                  Maïs         122692.0
8   Oranges, Mandarines          35012.0
9   Poissons Pelagiques          28600.0
10               Pommes          20026.0
11     Riz (Eq Blanchi)          37618.0
12                 Soja         102082.0
13        Sucre Eq Brut          61616.0
14              Tomates          18570.0

In [60]:
#Calculate for each product the following 2 quantities:
#the ratio between the quantity for "Other uses" and the domestic availability

#create a list 
list_word_imp_product = word_imp_product.item
data_top15 = pop_ani_veg_join[pop_ani_veg_join['item'].isin(list_word_imp_product)]
print(data_top15.shape)
data_top15.head()

(2537, 26)

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.60,389000000.0,2860.37,8.53
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000,0.000000e+00,10866.05,0.0,NaN,NaN
9,1,Arménie,2532,Manioc,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN
12,1,Arménie,2542,Sucre Eq Brut,2013,vegetal,93.0,2.0,0.0,98.0,302.0,33.03,85.0,0.0,0.0,8.0,0.00,0.0,3.0,0.0,2977000,3.281547e+11,0.00,98000000.0,3348.52,0.00
18,1,Arménie,2555,Soja,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN

In [61]:
#Ratio between the quantity for "Other uses" and domestic availability
data_top15['ratio_other_domsup'] = (data_top15['Other uses'] / data_top15['Domestic supply quantity']*100).round(2)
data_top15.head(100)

/Users/Mounia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine,ratio_other_domsup
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.60,389000000.0,2860.37,8.53,0.0
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000,0.000000e+00,10866.05,0.0,NaN,NaN,0.0
9,1,Arménie,2532,Manioc,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN,NaN
12,1,Arménie,2542,Sucre Eq Brut,2013,vegetal,93.0,2.0,0.0,98.0,302.0,33.03,85.0,0.0,0.0,8.0,0.00,0.0,3.0,0.0,2977000,3.281547e+11,0.00,98000000.0,3348.52,0.00,0.0
18,1,Arménie,2555,Soja,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,9,Argentine,2611,"Oranges, Mandarines",2013,vegetal,970.0,212.0,0.0,888.0,15.0,21.43,12.0,0.0,0.0,1170.0,0.27,0.0,0.0,82.0,41446000,2.269168e+11,4084503.30,888000000.0,255.54,0.46,0.0
554,9,Argentine,2615,Bananes,2013,vegetal,572.0,0.0,0.0,532.0,22.0,12.84,392.0,0.0,0.0,180.0,0.28,0.0,0.0,40.0,41446000,3.328114e+11,4235781.20,532000000.0,625.59,0.80,0.0
556,9,Argentine,2617,Pommes,2013,vegetal,925.0,321.0,0.0,817.0,26.0,19.72,0.0,0.0,20.0,1245.0,0.15,0.0,0.0,87.0,41446000,3.933225e+11,2269168.50,817000000.0,481.42,0.28,0.0
560,9,Argentine,2625,"Fruits, Autres",2013,vegetal,592.0,705.0,0.0,508.0,14.0,12.25,50.0,0.0,0.0,1226.0,0.16,0.0,21.0,86.0,41446000,2.117891e+11,2420446.40,508000000.0,416.91,0.48,0.0
587,9,Argentine,2763,Poissons Pelagiques,2013,animal,71.0,15.0,8.0,63.0,6.0,1.51,45.0,0.0,0.0,42.0,0.77,0.0,0.0,0.0,41446000,9.076674e+10,11648398.30,63000000.0,1440.74,18.49,0.0

In [62]:
#Next, calculate for each product the following 2 quantities:
#The ratio between the quantity for animal feed and the quantity for food (animal + human)
#Create new column sum food and feed 
data_top15["food_feed_sum"] = (data_top15["Feed"] + data_top15["Food"])*1000000

data_top15['ratio_feed_food'] = ((data_top15['Feed']*1000000) / data_top15['food_feed_sum']*100).round(2)
data_top15.head()

/Users/Mounia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/Mounia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids,Prct_proteine,ratio_other_domsup,food_feed_sum,ratio_feed_food
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.60,389000000.0,2860.37,8.53,0.0,482000000.0,19.29
2,1,Arménie,2514,Maïs,2013,vegetal,102.0,0.0,96.0,0.0,0.0,0.03,82.0,0.0,0.0,21.0,0.01,0.0,0.0,7.0,2977000,0.000000e+00,10866.05,0.0,NaN,NaN,0.0,96000000.0,100.00
9,1,Arménie,2532,Manioc,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN,NaN,0.0,NaN
12,1,Arménie,2542,Sucre Eq Brut,2013,vegetal,93.0,2.0,0.0,98.0,302.0,33.03,85.0,0.0,0.0,8.0,0.00,0.0,3.0,0.0,2977000,3.281547e+11,0.00,98000000.0,3348.52,0.00,0.0,98000000.0,0.00
18,1,Arménie,2555,Soja,2013,vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN,NaN,0.0,NaN

### 12- Give the 3 products that have the highest value for each of the 2 ratios

In [63]:
#Create a df with both ratios
ratio_top15_df = data_top15.groupby('item')['ratio_other_domsup', 'ratio_feed_food'].sum().reset_index()

#Sort from largest to smallest
ratio_top15_df.sort_values('ratio_other_domsup', ascending=False).head(3)

              item  ratio_other_domsup  ratio_feed_food
3   Huile de Palme             9494.21             0.00
6           Manioc             2720.54          2911.67
13   Sucre Eq Brut             1530.98             8.03

In [64]:
#Sort from largest to smallest
ratio_top15_df.sort_values('ratio_feed_food', ascending=False).head(3)

                   item  ratio_other_domsup  ratio_feed_food
7                  Maïs              796.87         10123.70
12                 Soja               93.60          3864.51
9   Poissons Pelagiques              557.28          3699.07

### 13 - How many tonnes of grain could be saved if the US reduced its production of animal products by 10%?

In [65]:
data_iscere.head(200)

,country_code,country,item_code,item,year,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot,food_feed_kcal,food_feed_kgprot,is_cereal,food_feed_sum
0,1,Arménie,2511,Blé,2013,vegetal,554.0,1.0,93.0,389.0,1024.0,130.60,361.0,0.0,10.0,312.0,30.52,30.0,-118.0,32.0,2977000,1.112684e+12,33163184.6,3.890000e+08,2860.37,8.53,8.195,2847.523,1.577528e+12,45400300.0,1.463627e+12,42122300.0,1,482.0
1,2,Afghanistan,2511,Blé,2013,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523,1.706236e+13,491044400.0,1.614546e+13,464656500.0,1,4895.0
2,3,Albanie,2511,Blé,2013,vegetal,650.0,4.0,18.0,440.0,1056.0,138.64,360.0,130.0,0.0,294.0,33.64,18.0,0.0,44.0,3173000,1.223001e+12,38959997.8,4.400000e+08,2779.55,8.85,8.195,2847.523,1.850890e+12,53267500.0,1.429457e+12,41138900.0,1,458.0
3,4,Algérie,2511,Blé,2013,vegetal,9461.0,2.0,545.0,7270.0,1424.0,185.42,6343.0,820.0,0.0,3299.0,42.97,153.0,-180.0,672.0,39208000,2.037875e+13,614940232.4,7.270000e+09,2803.13,8.46,8.195,2847.523,2.694042e+13,775328950.0,2.416693e+13,695509650.0,1,7815.0
4,7,Angola,2511,Blé,2013,vegetal,898.0,0.0,0.0,874.0,286.0,40.72,972.0,0.0,0.0,4.0,8.67,0.0,-79.0,23.0,21472000,2.241462e+12,67949217.6,8.740000e+08,2564.60,7.77,8.195,2847.523,2.557076e+12,73591100.0,2.554228e+12,73509150.0,1,874.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,37,République centrafricaine,2513,Orge,2013,vegetal,3.0,0.0,0.0,0.0,0.0,0.00,3.0,0.0,3.0,0.0,0.00,0.0,0.0,0.0,4616000,0.000000e+00,0.0,0.000000e+00,NaN,NaN,6.449,2270.435,6.811305e+09,193470.0,0.000000e+00,0.0,1,0.0
196,38,Sri Lanka,2513,Orge,2013,vegetal,20.0,0.0,0.0,0.0,0.0,0.00,20.0,0.0,20.0,0.0,0.00,0.0,0.0,0.0,21273000,0.000000e+00,0.0,0.000000e+00,NaN,NaN,6.449,2270.435,4.540870e+10,1289800.0,0.000000e+00,0.0,1,0.0
197,39,Tchad,2513,Orge,2013,vegetal,10.0,0.0,0.0,0.0,0.0,0.00,10.0,0.0,10.0,0.0,0.00,0.0,0.0,0.0,12825000,0.000000e+00,0.0,0.000000e+00,NaN,NaN,6.449,2270.435,2.270435e+10,644900.0,0.000000e+00,0.0,1,0.0
198,40,Chili,2513,Orge,2013,vegetal,147.0,66.0,20.0,13.0,7.0,0.74,134.0,36.0,71.0,80.0,0.20,2.0,0.0,5.0,17620000,4.501910e+10,1286260.0,1.300000e+07,3463.01,9.89,6.449,2270.435,3.337539e+11,9480030.0,8.627653e+10,2450620.0,1,33.0
199,44,Colombie,2513,Orge,2013,vegetal,307.0,10.0,2.0,58.0,8.0,1.20,264.0,0.0,242.0,13.0,0.20,1.0,40.0,5.0,48321000,1.410973e+11,3527433.0,5.800000e+07,2432.71,6.08,6.449,2270.435,6.970235e+11,19798430.0,1.475783e+11,4191850.0,1,60.0

In [66]:
cere_usa = pop_ani_veg_join[pop_ani_veg_join['country'] == "États-Unis d'Amérique"]
cere_usa_vegetal = cere_usa[cere_usa["origin"] == "vegetal"]
poid_total_anim_usa = cere_usa_vegetal['Feed'].sum() 
(poid_total_anim_usa * 0.1) * 1000

14528900.000000002

### 14 - In Thailand, what proportion of cassava is exported? What is the proportion of under-nourished population?

In [67]:
sousal_country.head()

,country_code,country,year,pop_value_x,pop_sousalim,pop_sousalim_prct,item_code,item,origin,Domestic supply quantity,Export Quantity,Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Other uses,Processing,Production,Protein supply quantity (g/capita/day),Seed,Stock Variation,Waste,pop_value_y,food_supply_kcal,protein_supply_kg,food_kg,ratio_energie_poids_x,Prct_proteine_x,protein_prct,ratio_kcal/kg,dom_sup_kcal,dom_sup_kgprot,food_feed_kcal,food_feed_kgprot,is_cereal
0,2,Afghanistan,2013,30552000,7900000.0,25.857554,2511,Blé,vegetal,5992.0,0.0,0.0,4895.0,1369.0,160.23,1173.0,0.0,0.0,5169.0,36.91,322.0,-350.0,775.0,30552000,1.526638e+13,411601126.8,4.895000e+09,3118.77,8.41,8.195,2847.523,1.706236e+13,491044400.0,1.614546e+13,464656500.0,1
1,2,Afghanistan,2013,30552000,7900000.0,25.857554,2513,Orge,vegetal,524.0,0.0,360.0,89.0,26.0,2.92,10.0,0.0,0.0,514.0,0.79,22.0,0.0,52.0,30552000,2.899385e+11,8809669.2,8.900000e+07,3257.74,9.90,6.449,2270.435,1.189708e+12,33792760.0,1.137488e+12,32309490.0,1
2,2,Afghanistan,2013,30552000,7900000.0,25.857554,2514,Maïs,vegetal,313.0,0.0,200.0,76.0,21.0,2.50,1.0,0.0,0.0,312.0,0.56,5.0,0.0,31.0,30552000,2.341811e+11,6244828.8,7.600000e+07,3081.33,8.22,7.255,3012.589,9.429404e+11,22708150.0,9.248648e+11,22272850.0,1
3,2,Afghanistan,2013,30552000,7900000.0,25.857554,2517,Millet,vegetal,13.0,0.0,0.0,12.0,3.0,0.40,0.0,0.0,0.0,13.0,0.08,0.0,0.0,1.0,30552000,3.345444e+10,892118.4,1.200000e+07,2787.87,7.43,7.743,3057.022,3.974129e+10,1006590.0,3.974129e+10,1006590.0,1
4,2,Afghanistan,2013,30552000,7900000.0,25.857554,2520,"Céréales, Autres",vegetal,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,30552000,0.000000e+00,0.0,0.000000e+00,NaN,NaN,7.552,2586.729,0.000000e+00,0.0,0.000000e+00,0.0,1

In [68]:
top_15

                   item  Export Quantity
39       Huile de Palme          46336.0
52                 Maïs          37906.0
51               Manioc          35931.0
79     Riz (Eq Blanchi)          33104.0
83        Sucre Eq Brut          26160.0
12                  Blé          25417.0
49      Légumes, Autres          20167.0
8               Bananes          18005.0
25       Fruits, Autres          15389.0
48   Lait - Excl Beurre          15060.0
81                 Soja          14410.0
73  Poissons Pelagiques          14185.0
89              Tomates           8938.0
75               Pommes           7958.0
61  Oranges, Mandarines           7185.0

In [69]:
#Proportion of cassava is exported in Thailand
prop_manioc_exp_thai = sousal_country[(sousal_country['item'] == "Manioc") & (sousal_country["country"]== "Thaïlande")]
prop = prop_manioc_exp_thai["Export Quantity"]/35931.0
print("Prop manioc exp:", round(prop*100))

Prop manioc exp: 9338    70.0
Name: Export Quantity, dtype: float64

In [1]:
#Prct of the population that is under nutrition in Thailand
Total_pop_sous_nutr_thai = sousal_country.loc[sousal_country["country"]== "Thaïlande","pop_sousalim"].sum()
print("pop ss nutrition Thai:", Total_pop_sous_nutr_thai)

Total_pop_thai = sousal_country.loc[sousal_country["country"]== "Thaïlande","pop_value_x"].sum()
print("pop Thai:", Total_pop_thai)
print("Pourcentage:", Total_pop_sous_nutr_thai/Total_pop_thai*100)

NameError: name 'sousal_country' is not defined

### Relational database

## Question 15

In [71]:
population_sql = pop_and_sousal[['country','country_code','year','pop_value']]
population_sql.columns = ['pays', 'code_pays', 'annee', 'population']
population_sql.head()

             pays  code_pays  annee  population
0     Afghanistan          2   2013    30552000
1  Afrique du Sud        202   2013    52776000
2         Albanie          3   2013     3173000
3         Algérie          4   2013    39208000
4       Allemagne         79   2013    82727000

In [72]:
population_sql.to_csv("../Data/pop_export.csv", index = False)

## Question 16

In [73]:
dispo_ali_sql_v2 = pop_ani_veg_join_v2[['country', 'country_code','year','item','item_code', 'origin','Food supply quantity (kg/capita/yr)','Food supply (kcal/capita/day)','Protein supply quantity (g/capita/day)']]
dispo_ali_sql_v2.columns = ['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'origin', 'dispo_alim_kg_pers', 'dispo_alim_kcal_p_j', 'dispo_prot']
dispo_ali_sql_v2.head()

,pays,code_pays,annee,produit,code_produit,origin,dispo_alim_kg_pers,dispo_alim_kcal_p_j,dispo_prot
0,Arménie,1,2013,Blé,2511,vegetal,130.60,1024.0,30.52
1,Afghanistan,2,2013,Blé,2511,vegetal,160.23,1369.0,36.91
2,Albanie,3,2013,Blé,2511,vegetal,138.64,1056.0,33.64
3,Algérie,4,2013,Blé,2511,vegetal,185.42,1424.0,42.97
4,Angola,7,2013,Blé,2511,vegetal,40.72,286.0,8.67

In [74]:
dispo_ali_sql_v2.to_csv("../Data/dispo_ali.csv", index = False)

## Question 17

In [75]:
equilibre_prod_sql = pop_ani_veg_join_v2[['country', 'country_code','year','item','item_code','Domestic supply quantity','Feed','Seed','Waste', 'Processing', 'Food', 'Other uses']]
equilibre_prod_sql.columns = ['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'dispo_int', 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture', 'autres_utilisations']
equilibre_prod_sql.head()

,pays,code_pays,annee,produit,code_produit,dispo_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations
0,Arménie,1,2013,Blé,2511,554.0,93.0,30.0,32.0,10.0,389.0,0.0
1,Afghanistan,2,2013,Blé,2511,5992.0,0.0,322.0,775.0,0.0,4895.0,0.0
2,Albanie,3,2013,Blé,2511,650.0,18.0,18.0,44.0,0.0,440.0,130.0
3,Algérie,4,2013,Blé,2511,9461.0,545.0,153.0,672.0,0.0,7270.0,820.0
4,Angola,7,2013,Blé,2511,898.0,0.0,0.0,23.0,0.0,874.0,0.0

In [76]:
equilibre_prod_sql.to_csv("../Data/equilibre_prod.csv", index = False)

## Question 18

In [77]:
sousalime_sql = sousal[['country','country_code','year','pop_sousalim']]
sousalime_sql['pop_sousalim']= round(sousalime_sql['pop_sousalim'])
sousalime_sql.columns = ['pays', 'code_pays', 'année', 'nb_personnes']
sousalime_sql.head()

/Users/Mounia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             pays  code_pays  année  nb_personnes
0     Afghanistan          2   2013     7900000.0
1  Afrique du Sud        202   2013     2600000.0
2         Albanie          3   2013      200000.0
3         Algérie          4   2013     1700000.0
5          Angola          7   2013     8100000.0

In [78]:
sousalime_sql.to_csv("../Data/sous_nutrition.csv", index = False)